<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Accounts List</h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="label-info">Username</th>
          <th class="label-info">Password</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
          <td>{{ account.username }}</td>
          <td>{{ account.password }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
